.about-view {
    color: $color-app-text-dark;

    .about-view--inner {
        @extend .app-view--inner;

        .about-view--content {
            @extend .app-view--content;

            h2 {
                text-align: center;
            }

            .section-divider {
                background-color: #DDD;
                width: 60%;
                height: 1px;
                margin: 6vw auto;

                &.last-item {
                    margin: 0 auto;
                }
            }

            .section {

                .section--title {
                    display: flex;
                    margin: {
                        bottom: 0.5rem;
                    }

                    h2 {
                        text-transform: uppercase;
                        background-color: $color-app-primary;
                        color: $color-app-text-light;
                        padding: 5px 20px;
                    }
                }

                .subsection {
                    padding: 20px;
                    margin: {
                        bottom: 20px;
                    }
                    background: {
                        color: #EFEFEF;
                    }

                    &:last-of-type {
                        margin: 0;
                    }

                    h3 {
                        text-transform: uppercase;
                        margin: {
                            bottom: 1rem;
                        }
                    }

                    .about-items--list {
                        display: flex;

                        .item-group {
                            padding: 0 !important;
                        }
                    }
                }

            }

            /* HEADER */
            .about--header {

                .header--photo-container {
                   display: flex;

                    .header--photo {
                        margin: 0 auto;

                        img {
                            height: 240px;
                        }
                    }
                }

                .social-media--container {
                    display: flex;
                    width: 100%;
                    margin: {
                        top: 2rem;
                    }

                    .social-media--list {
                        position: relative;
                        display: flex;
                        margin: 0 auto;

                        a {
                            color: $color-app-text-dark;
                            cursor: pointer;
                            margin: 0 1.5rem;

                            &:hover {
                                color: $color-app-secondary;
                            }
                        }
                    }
                }
            }

            .about--bio {

                h2 {
                    // text-align: left;
                    text-transform: uppercase;
                    // font-size: 1.2rem;
                    margin: {
                        bottom: 0.5rem;
                    }
                }

                p {
                    text-align: left;
                    margin: {
                        bottom: 1rem;
                    }
                }
            }

            .quote-container {
                color: $color-m-grey;

                blockquote,
                p {
                    text-align: center;
                }

                p {
                    font-style: italic;
                }
            }

            .about--experience {

                .about-experience-role {
                    text-transform: uppercase;
                    // margin: 10px 0 15px;

                    h4 {
                        font-weight: $font-weight-light;

                        span {
                            color: $color-m-grey;
                        }
                    }
                }

                .description {
                    margin: {
                        top: 1rem;
                        bottom: 1rem;
                    }
                 }

                .about-section-experience-roles {

                    ul {
                        padding-left: 15px;

                        li {
                            padding-top: 10px;
                            padding-left: 0.7em;
                            text-indent:-0.7em;

                            &:before {
                                float: left;
                                content: "-";
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }

            /* CLIENT LIST */
            .about--client-list {

                .client-list {
                    // display: inline-block;

                    .client-item {
                        // float: left;
                        // text-align: center;
                        // width: 33.33%;
                        padding-top: 40px;
                        padding-bottom: 90px;

                        .item {

                            img {
                                display: block;
                                width: 120px;
                                height: 60px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }

            /* FOOTER */
            .about--footer {
                text-align: center;
            }
        }
    }
}
