.app-view {
    
}

.app-view--inner {
    max-width: 80%;
    margin: {
        top: 0;
        right: auto;
        bottom: 4rem;
        left: auto;
    };
    padding: {
        top: 5rem;
    }
}

.app-view--content {
    background: {
        color: $color-m-white;
    }
    padding: 5rem 5%;
}


@include respond-to(medium) {
    .app-view {
    
    }
    
    .app-view--inner {
        max-width: 90%;        
    }
    
    .app-view--content {
        background: {
            color: $color-m-white;
        }
        padding: 5rem 5%;
    }
}