.labs-view {
	position: relative;
    min-height: 100vh;
    width: 100vw;
	background: {
		// color: $color-m-white;
		color: #070707;
		// color: rgba(0, 0, 0, 0.5);
	}

	.labs__add-btn {
        @include center-content('horizontal');
        bottom: 1rem;
        position: fixed;
        z-index: 6;
    }

	.labs__header {
		position: relative;
		width: 100vw;
		height: 100vh;

		.header__content {
			@include center-content();

			p {
				text-transform: uppercase;
				text-align: center;
				color: $color-m-grey-darken-2;
				padding: {
					top: 0.5rem;
				}
			}

			.scroll-arrow {
				text-align: center;
			}

			.coming-soon {
				position: absolute;
				width: 100%;
				text-align: center;
				margin: {
					top: 4rem
				}

				h3,
				p {
					color: $color-m-grey !important;
				}

				h3 {
					text-transform: uppercase;

					span {
						font-weight: 400;
						font-size: 0.9rem;
					}
				}

				/* p {
					color: $color-m-grey-lighten-1
				} */
			}
		}

		.header__scroll {
			@include center-content('horizontal');
			position: fixed;
			bottom: 0;
			transition: opacity 250ms ease-in-out;

			p {
				color: $color-m-grey-darken-2
			}

			.v-icon {
				width: 100%;
			}

			&:not(.visible) {
				opacity: 0;
			}

			&.visible {
				opacity: 1;
			}
		}
	}

	.projects__list {

        .projects-item {
            width: 100vw;
			height: 100vh;

			& > * {
				border: 1px solid $color-m-grey-darken-3;
			}
        }
    }
}

@include respond-to(medium) {
	.labs-view {

		.labs__header {
			.header__content{

				.particle-text {
					transform: scale(0.6);
				}
			}
		}
	}
}
