.labs-view {
	min-height: 100vh;
	overflow: hidden;
    background: {
        color: $color-m-white;
	}

	.labs__header {
		position: relative;
		height: 100vh;

		.header__content {
			@include center-content(0, -75px);

			p {
				text-transform: uppercase;
				text-align: center;
				color: $color-m-grey-darken-3;
				padding: {
					top: 0.5rem;
				}
			}

			.coming-soon {
				position: absolute;
				width: 100%;
				text-align: center;
				margin: {
					top: 4rem
				}

				h3,
				p {
					color: $color-m-grey !important;
				}

				h3 {
					text-transform: uppercase;

					span {
						font-weight: 400;
						font-size: 0.9rem;
					}
				}

				/* p {
					color: $color-m-grey-lighten-1
				} */
			}
		}

		.header__scroll {
			@include center-content('horizontal');
			position: fixed;
			bottom: 0;
			transition: opacity 250ms ease-in-out;

			p {
				color: $color-m-grey-darken-2
			}

			.v-icon {
				width: 100%;
			}

			&:not(.visible) {
				opacity: 0;
			}

			&.visible {
				opacity: 1;
			}
		}
	}
}

@include respond-to(medium) {
	.labs-view {

		.labs__header {
			.header__content{

				.particle-text {
					transform: scale(0.6);
				}
			}
		}
	}
}
