.project-details-view {
    position: relative;
    width: 90%;
    min-height:100%;
    padding: 0;
    background: {
        color: $color-m-white;
    }
    
    .details__content {
        position: relative;

        .header__container {
            position: relative;
            overflow: hidden;
            width: 100%;
            max-height: 90vh;
            border: {
                bottom: 1px solid $color-m-grey-lighten-2;
            }

            .scrim {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: {
                    color: $color-app-black-alpha-25
                }
            }

            .title__container {
                @include center-content();
                width: 100%;

                h3 {
                    // font-size: 7rem;
                    font-size: 3rem;
                    font-family: 'DIN-CondLight';
                    text-align: center;
                    text-transform: uppercase;
                    padding: 0 3rem;
                    line-height: 2.5rem;
                    color: $color-m-white; 
                }
                
                h1 {
                    font-size: 7rem;
                    font-family: 'DIN-CondBlack';
                    text-align: center;
                    text-transform: uppercase;
                    padding: 0 3rem;
                    color: white;
                    line-height: 6.5rem;
                }
            }

            .header__close-btn {
                @include center-content('horizontal');
                top: 50px;
                z-index: 99;
            }
        }
        
        .content__container {
            padding: {
                top: 4rem;
            }

            & > div {
                width: 100%;
            }
            
            .divider {
                width: 100%;
                height: 1px;
                margin: {
                    top: 5rem;
                    bottom: 5rem;
                }
                background: {
                    color: $color-m-grey-lighten-2;
                }
            }
            
            .section {
                // 
            }

            .subsection {
                margin: {
                    bottom: 2rem;
                }
            }

            .excerpt__container {

                h3 {
                    font-family: 'DIN-Medium';
                    width: 100%;
                    text-align: center;
                    font-style: italic;
                }
            }

            .video__container {
                width:100%;
                
                .video__inner {
                    border: 0;
                    
                    video {
                        outline: 0;
                        border: 1px solid $color-m-grey-lighten-2;
                        width: 100%;
                    }
                }
            }

            .description__container {

                .description__inner {

                    .description {
                        @include drop-cap();
                        column-count: 2;
                    }
                }
            }

            .photos__container {
                
                .photos__inner {

                    & > div {
                        padding: 4px;
                    }


                    .v-img {
                        
                    }
                }
            }

            .meta__container {
                
                .meta__title {
                    color: $color-m-grey-darken-2;
                    text-transform: uppercase;
                    font-size: 1rem;
                }

                .meta_languages {
                    width: 100%;
                    padding: 1rem;
                    background: {
                        color: $color-m-grey-lighten-2;
                    }
                    
                    .languages__inner {
                        background: url('./assets/app/images/project-languages-bg.jpg') no-repeat center;
                        background-size: cover;
                        width: 100%;
                        display: inline-flex;
                        padding: 1rem;
                        background: {
                            color: $color-m-grey-darken-4;
                        }
                        color: white;
                    }
                }

                .meta_resources {
                    padding: 1.25rem;
                    background: {
                        color: $color-m-grey-lighten-3;
                    }

                    .resources__inner {
                        // min-height: 30rem;
                        border: 1px solid $color-m-grey-lighten-3;
                        background: {
                            color: $color-m-white;
                        }

                        .resource-item {
                            position: relative;
                            height: 2.5rem; 
                            border: 1px solid white;
                            background: {
                                color: $color-m-grey-lighten-4;
                            }

                            p {
                                @include center-content('vertical');
                                padding: 0 1rem;
                            }
                        }
                    }
                }

                .meta_tree {
                    // height: 30rem;
                    padding: 1.25rem;
                    background: {
                        color: $color-m-grey-lighten-3;
                    }
                    
                    .tree__inner {
                        min-height: 30rem;
                        border: 1px solid $color-m-grey-lighten-3;
                        background: {
                            color: $color-m-white;
                        }

                        .v-treeview-node__label {
                            font-size: 0.95rem;
                            color: $color-m-grey-darken-1 !important;
                        }
                    }
                }
            }

        }
    }
    .footer__container {
        position: absolute;
        width: 100%;
        bottom: -10px;

        img {
            width: 100%;
        }
    }
}


@include respond-to(medium) {

    .project-details-view {
        width: 100%;

        .details__content {

            .header__container {
            
                .v-image {
                    height: 50vh;

                    .v-image__image--contain {
                        background: {
                            size: cover
                        } 
                    }
                }

                .title__container {
    
                    h3 {
                        font-size: 2rem;
                        line-height: 2.5rem;
                        padding: 0 0.7rem;
                    }
                    
                    h1 {
                        font-size: 3.5rem;
                        line-height: 3.5rem;
                        padding: 0 0.7rem;
                    }
                }
            }
        }
    }
}