.projects-view {
    position: relative;
    min-height: 100vh;
    width: 100vw;

    .projects__add-btn {
        @include center-content('horizontal');
        bottom: 1rem;
        position: fixed;
        z-index: 6;
    }

    .projects__list {

        .projects-item {
            width: 100vw;
            height: 100vh;
        }
    }
}


@include respond-to(medium) {
    
    .projects-view {
    
        .projects__list {
    
            .projects-item {
                // width: 100vw;
                // height: 15rem;
                
                margin: {
                    // top: 5rem;
                }
            }
        }
    }
}