.role-details-view {
    position: relative;
    width: 90%;
    min-height:100%;
	padding: 0;
	// background: url('~@/assets/app/images/project-details-footer-grey.jpg') $color-m-white no-repeat center bottom;
	// background-size: contain;
	background: {
		color: $color-m-white
	}


    .details__content {
        position: relative;

        .header__container {
            position: relative;
            overflow: hidden;
            width: 100%;
            max-height: 90vh;
            border: {
                bottom: 1px solid $color-m-grey-lighten-2;
			}
			background: {
				color: $color-app-black;
			}

            .scrim {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: {
                    color: $color-app-black-alpha-25
                }
            }

            .title__container {
                @include center-content();
				width: 100%;
				text-shadow: 2px 1px 3px rgba(0,0,0,0.2);

                h3 {
                    // font-size: 7rem;
                    font-size: 3rem;
                    font-family: 'DIN-CondLight';
                    text-align: center;
                    // text-transform: uppercase;
                    padding: 0 3rem;
                    line-height: 2.5rem;
					color: $color-m-white;

					span {
						font-size: 2.4rem !important;
					}
                }

                h1 {
                    font-size: 7rem;
                    font-family: 'DIN-CondBlack';
                    text-align: center;
                    text-transform: uppercase;
                    padding: 0.25rem 3rem 0.5rem;
                    color: $color-m-white;
                    line-height: 6.5rem;
                }
			}

			.project-info__container__mobile {
				display: none;
			}

			.project-info__container {
				position: absolute;
				height: 100px;
				width: 100%;
				bottom: 0px;
				color: $color-app-text-light;

				.project-info__inner {
					padding: 1rem 2rem;
					margin: 0 auto;
					width: 75%;
					height: 100%;
					// display: flex;
					background: {
						color: rgba(20, 20, 20, 0.75);
						// color: rgba(255, 255, 255, 0.9);
					}

					.project-info__item {

						h4 {
							text-transform: uppercase;
							font-weight: bold;
						}

						.project-btn__container {
							width: 100%;
							height: 100%;
							position: relative;

							.project-btn {
								@include center-content(0, -4px);
								display: contents;
							}
						}
					}
				}
			}

            .header__close-btn {
                @include center-content('horizontal');
                top: 50px;
                z-index: 99;
            }
        }

        .content__container {
            padding: {
				top: 4rem;
				left: 4rem;
				right: 4rem;
            }

            & > div {
                width: 100%;
            }

            .divider {
                width: 100%;
                height: 1px;
                margin: {
                    top: 5rem;
                    bottom: 5rem;
                }
                background: {
                    color: $color-m-grey-lighten-2;
                }
            }

            .section {

				.section-title {
					margin: {
						bottom: 1rem;
					}

					h2 {
						color: $color-m-grey-darken-3;
						text-transform: uppercase;
						font-size: 1.2rem;
					}
				}
			}

			.project__container {

				.project-item {

					.divider {
						margin: 4rem auto 6rem;
						width: 50%;
						height: 1px;
						background: {
							color: $color-m-grey-lighten-3;
						}
					}

					.title__container {
						display: flex;

						.title__info {
							flex: 1;

							h3 {
								color: $color-m-grey-darken-3;
								text-transform: uppercase;
								font-size: 1rem;
							}

							p {
								padding: 0.5rem 0;
							}
						}

						.watch__btn {
							width: 200px;
							text-align: right;
							/* margin: {
								top: 2.5rem;
							} */
						}
					}


					.photos__inner {

						& > div {
							padding: 4px 4px 2rem 4px
						}

						.photo {
							position: relative;
							display: flex;
							cursor: pointer;
							// border: 1px solid $color-app-black-alpha-15;

							img {
								width: 100%
							}

							.img-hover {
								transition: opacity 175ms ease-in-out;
								padding: 4px;
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								opacity: 0;
								background: {
									color: $color-app-black-alpha-35;
								}

								.skrim {
									position: relative;
								}

								.icon {
									@include center-content()
								}
							}

							&:hover {
								.img-hover {
									opacity: 1;
								}
							}
						}
					}
				}
			}
        }
    }
}


@include respond-to(medium) {

    .role-details-view {
        width: 100%;

        .details__content {
			padding: 0 0 60px;

            .header__container {

                .v-image {
                    height: 40vh;

                    .v-image__image--contain {
                        background: {
                            size: cover
                        }
                    }
                }

                .title__container {
					@include center-content(0, 30px);
                    h3 {
                        font-size: 1.5rem;
                        line-height: 2.25rem;
						padding: 0 0.7rem;

						span {
							font-size: 1.2rem !important;
						}
                    }

                    h1 {
                        font-size: 3.0rem;
                        line-height: 2.75rem;
                        padding: 0 0.7rem;
                    }
				}

				.project-info__container {
					display: none;
				}
			}

			.project-info__container__mobile {
				display: block;
				color: $color-app-text-light;
				padding: 1rem;

				background: {
					color: #121212;
					// color: rgba(255, 255, 255, 0.9);
				}
			}

			.content__container {
				padding: 1.5rem 1rem;

				.divider {
					margin: {
						top: 3rem;
						bottom: 3rem;
					}
				}

				.project__container {

					.project-item {

						.title__container {
							flex-direction: column;

							.watch__btn {
								padding: 1rem 0;
								width: 100%;
								text-align: center;
							}
						}
					}
				}
			}
        }
    }
}
