.overlay-container {
	position: relative;
    background: {
        color: #0A0318;
    }

    .overlay__guest-warning {
        color: $color-m-white;
        background: {
            color: red;
        }

        p {
            padding: {
                top: 0.25rem;
                right: 0.25rem;
                bottom: 0.25rem;
                left: 1rem;
            }

            span {
                font-weight: $font-weight-bold;
            }
        }
    }

    .section {
        // margin: 0 auto;
        // width: 80%;
        // max-width: $breakpoint-large;
    }

    .section__header {
		position: relative;

		.header__content {
			display: flex;
			padding: 2rem 0;

			.header__title {
				flex: 1;
				font-size: 3rem;
				font-family: 'Din-CondBlack';
				color: white;
				text-transform: uppercase;
			}

			.header__geo-image {
				height: 3rem;
				width: 3rem;
				margin: {
					top: 13px;
					right: 1rem;
				}
			}
		}

    }

    .section__content {
		margin: {
			top: 1rem;
        }
    }

	.header__close-btn {
		@include center-content('vertical');
		position: absolute;
		right: 1rem;
		margin: 0;
	}
}
