.overlay-container {
    background: {
        color: $color-app-text-dark;
    }

    .overlay__guest-warning {
        color: $color-m-white;
        background: {
            color: red;
        }

        p {
            padding: {
                top: 0.25rem;
                right: 0.25rem;
                bottom: 0.25rem;
                left: 1rem;
            }

            span {
                font-weight: $font-weight-bold;
            }
        }
    }

    .section {
        // margin: 0 auto;
        // width: 80%;
        // max-width: $breakpoint-large;
    }

    .section__header {
        position: relative;

        .header__title {
            font-size: 3rem;
            font-family: 'Din-CondBlack';
            color: white;
            text-transform: uppercase;
            padding: 2rem 0;
        }

        .header__close-btn {
            @include center-content('vertical');
            position: absolute;
            right: 1rem;
            margin: 0;
        }
    }

    .section__content {
        margin: {
            top: 1rem;
        }
    }
}