#app {
    background-image: $color-app-background;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100vw;
    overflow-x: hidden;

    // TODO: move this somewhere
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
      }   
}