.form--project-create {
    color: white;

    label {
        color: $color-m-grey !important;
        font-size: 1rem;
    }

    .form-section {
        margin: {
            bottom: 7rem;
        }
    }

    .inner__divider {
        width: 100%;
        height: 1px;
        background: {
            color: $color-m-grey-darken-3;
        }
        margin: {
            top: 0.75rem;
        }
    }

    .create__form {

        .project__pending-id {
            background: {
                color: #282828;
            }

            p {
                text-align: center;
                color: $color-m-grey;
                padding: 0.75rem;
                font-size: 0.9rem;
            }
        }
    }



    // Images section
    .create__images {

        h2 {
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        .images-section {
            margin: {
                top: 1.5rem;
            }

            &:first-of-type {
                padding: {
                    right: 0.25rem;
                }
            }

            &:last-of-type {
                padding: {
                    left: 0.25rem;
                }
            }

            .section__title {
                margin: {
                    bottom: 0.75rem;
                }

                h3 {
                    // font-size: 1.4rem;
                    color: $color-m-grey;
                    text-transform: uppercase;

                    span {
                        text-transform: capitalize;
                    }
                }

                p {
                    color: $color-m-grey-darken-1;
                }
            }
        }

        .images__container {

            .images__dropzone {
                position: relative;
                width: 100%;
                height: 8rem;
                margin: {
                    bottom: 1rem;
                }

                .dropzone__button {
                    cursor: pointer;
                    position: relative;
                    height: 100%;
                    background: {
                        color: $color-m-grey-darken-3;
                    }

                    .button__content {
                        @include center-content();

                        p {
                            text-transform: uppercase;
                            color: $color-m-grey-darken-1;
                            font-weight: $font-weight-bold;
                            margin: 0;
                        }

                        .v-icon {
                            width: 100%;
                            text-align: center;
                        }
                    }
                }

                .dropzone__scrim {
                    transition: background-color 250ms ease-in-out;
                    pointer-events: none;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: rgba(49, 0, 189, 0);
                }

                &.drag-over {
                    .dropzone__scrim {
                        border: 2px dashed $color-app-primary;
                        background: rgba(49, 0, 189, 0.2);
                    }
                }
            }
		}
	}

	// Videos section
    .create__videos {

        h2 {
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        .videos-section {
            margin: {
                top: 1.5rem;
            }

            &:first-of-type {
                padding: {
                    right: 0.25rem;
                }
            }

            &:last-of-type {
                padding: {
                    left: 0.25rem;
                }
            }

            .section__title {
                margin: {
                    bottom: 0.75rem;
                }

                h3 {
                    // font-size: 1.4rem;
                    color: $color-m-grey;
                    text-transform: uppercase;

                    span {
                        text-transform: capitalize;
                    }
                }

                p {
                    color: $color-m-grey-darken-1;
                }
            }
        }

        .videos__container {

			.videos__upload {

				.videos__dropzone {
					position: relative;
					width: 100%;
					height: 8rem;
					margin: {
						bottom: 1rem;
					}

					.dropzone__button {
						cursor: pointer;
						position: relative;
						height: 100%;
						background: {
							color: $color-m-grey-darken-3;
						}

						.button__content {
							@include center-content();

							p {
								text-transform: uppercase;
								color: $color-m-grey-darken-1;
								font-weight: $font-weight-bold;
								margin: 0;
							}

							.v-icon {
								width: 100%;
								text-align: center;
							}
						}
					}

					.dropzone__scrim {
						transition: background-color 250ms ease-in-out;
						pointer-events: none;
						position: absolute;
						height: 100%;
						width: 100%;
						top: 0;
						left: 0;
						background: rgba(49, 0, 189, 0);
					}

					&.drag-over {
						.dropzone__scrim {
							border: 2px dashed $color-app-primary;
							background: rgba(49, 0, 189, 0.2);
						}
					}
				}
			}

			.videos__link {

				.video-link-container {
					display: flex;

					.videos__link__text-field {
						padding: {
							right: 0.5rem;
						}
					}

					.videos__link__btn {
						height: 58px;
					}
				}
			}
		}
    }

    .create__meta {
        margin: {
            bottom: 4rem;
        }

        h2 {
            font-size: 2.2rem;
            text-transform: uppercase;
        }

        .meta-section {
            margin: {
                top: 1.5rem;
                bottom: 3rem;
            }

            .section__title {
                margin: {
                    bottom: 0.75rem;
                }

                h3 {
                    color: $color-m-grey;
                    text-transform: uppercase;

                    span {
                        text-transform: capitalize;
                    }
                }

                p {
                    color: $color-m-grey-darken-1;
                }
            }
        }

        .languages__container {

            .language__add-button {
                cursor: pointer;
                position: relative;
                height: 8rem;
                background: {
                    color: $color-m-grey-darken-3;
                }

                .button__content {
                    @include center-content();

                    p {
                        text-transform: uppercase;
                        color: $color-m-grey-darken-1;
                        font-weight: $font-weight-bold;
                        margin: 0;
                    }

                    .v-icon {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .language__list {
                margin: {
                    top: 2rem;
                    bottom: 4rem;
                }

                & > div {
                    margin: {
                         top: 0.5rem;
                         bottom: 0.5rem;
                    }
                }
            }
        }

        .tree__add-button {
            cursor: pointer;
            position: relative;
            height: 8rem;
            margin: {
                bottom: 1rem;
            }
            background: {
                color: $color-m-grey-darken-3;
            }

            .button__content {
                @include center-content();

                p {
                    text-transform: uppercase;
                    color: $color-m-grey-darken-1;
                    font-weight: $font-weight-bold;
                    margin: 0;
                }

                .v-icon {
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .tree__container {
            padding: 1.25rem;
            min-height: 30rem;
            background: {
                color: $color-app-black-alpha-25;
            }

            .v-treeview-node__label {
                font-size: 0.95rem;
                color: $color-m-grey-lighten-1;
            }
        }
    }

    .project__save-btn {
        display: flex;
        float: right;

        .error-prompt {
            display: flex;

            .divider {
                height: 93%;
                width: 1px;
                background: {
                    color: red;
                }
                margin: {
                    left: 0.75rem;
                    right: 0.75rem;
                }
            }

            p {
                color: red;
                margin: {
                    top: 12px;
                }
            }
        }

        .progress__ind {
            margin: {
                right: 1rem;
            }
        }
    }




    // Override
    .theme--dark.v-text-field--box>.v-input__control>.v-input__slot {
        background: {
            color: rgba(0,0,0,0.2);
        }
    }
}
