/*
/* App Colors
/*
*/

// Base Colors
$color-app-white          : #EFEFEF;
$color-app-black          : #040408;
$color-app-primary        : #190052;
$color-app-secondary      : #34009C;
$color-app-accent         : #FF6400;

// Transparencies
$color-app-white-alpha-10 : rgba( 255, 255, 255, 0.1 );
$color-app-white-alpha-25 : rgba( 255, 255, 255, 0.25 );
$color-app-white-alpha-50 : rgba( 255, 255, 255, 0.5 );
$color-app-white-alpha-75 : rgba( 255, 255, 255, 0.75 );
$color-app-black-alpha-10 : rgba( 0, 0, 0, 0.1 );
$color-app-black-alpha-15 : rgba( 0, 0, 0, 0.15 );
$color-app-black-alpha-25 : rgba( 0, 0, 0, 0.25 );
$color-app-black-alpha-35 : rgba( 0, 0, 0, 0.35 );
$color-app-black-alpha-50 : rgba( 0, 0, 0, 0.5 );
$color-app-black-alpha-75 : rgba( 0, 0, 0, 0.75 );
$color-accent-purple-alpha: rgba( 55, 15, 174, 0.5 );

// Background Colors
$color-app-background     : linear-gradient(to right, #040011 0%, #150044 50%, #040011 100%);
$color-app-nav-background : $color-app-primary;
$color-app-ui-background  : #141417;

// Typography Colors
$color-app-text-dark      : $color-m-grey-darken-4;
$color-app-text-light     : $color-app-white;



////// GLOBAL COMPONENTS //////
// App Button
$color-app-button-background: $color-app-black-alpha-75;
$color-app-button-text: $color-app-text-light;
$color-app-button-border: $color-app-text-light;

$color-app-button-background-animate: $color-app-secondary;
$color-app-button-background-hover: $color-app-text-light;
$color-app-button-text-hover: $color-app-text-dark;

// App Button (Inverse)
$color-app-button-background-light: $color-m-white;
$color-app-button-text-light: $color-app-text-dark;
$color-app-button-border-light: $color-app-text-dark;

// $color-app-button-background-animate: $color-accent-purple-alpha;
$color-app-button-background-hover-light: $color-app-text-dark;
$color-app-button-text-hover-light: $color-app-text-light;
