/**
* Roboto Font
* Weights 300,400,500,700,900
* Material Icons
*
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Material+Icons');



/**
* Font Weights
*
*/
$font-weight-thin   : 300;
$font-weight-light  : 400;
$font-weight-medium : 500;
$font-weight-bold   : 700;
$font-weight-black  : 900;