@mixin not-selectable( $value:none ) {
    -webkit-touch-callout: $value;
    -webkit-user-select: $value;
    -khtml-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
  }

  @mixin drop-cap() {
    &:first-child:first-letter {
      float: left;
        font-size: 60px;
        line-height: 45px;
        padding-top: 4px;
        padding-right: 10px;
        padding-left: 3px;
        font-weight: bolder;
    }
  }
