*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}


html {
    //    
}


body,
html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    letter-spacing: 0.01em;
    font-size: 0.9rem;
    font-size: 90%;
}

p {

}


a,
button {
    text-decoration: none;
    outline: 0;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}


ul,
ol {
    margin: 0;
    padding: 0;

    li {
        text-decoration: none;
        list-style-type: none;
    }
} 


p, span, 
a, a button,
h1, h2, h3,
h4, h5, h6 {
    margin: 0;
    padding: 0;   
}